<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @packaging.date %>
</p>

<p>
  <strong>Name:</strong>
  <%= @packaging.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @packaging.image %>
</p>

<%= link_to 'Edit', edit_packaging_path(@packaging) %> |
<%= link_to 'Back', packagings_path %>
